.bg-page {
  background: url('../images/bg-image.jpg') no-repeat center center / 100% auto;
  height: 100vh;
  padding: 50px 0;
  width: 100%;

  .container {
    background-color: $white;
    border-radius: 30px;
    height: 100%;
    overflow: hidden;
  }

  .row,
  .row > * { height: 100%; }

  h1, h2 {
    color: $bunker;
    font-family: $font-erica-one;
  }
}