.list-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  overflow: hidden;

  .table-list {
    height: 77%;
    overflow-y: scroll;

    .cat-table {
      background-color: $wisteria;
      position: sticky;
      top: 0;
    }

    .item-list { cursor: pointer; }
  }
}