/* width */
::-webkit-scrollbar {
  width: 10px;

  /* Track */
  &-track {
    box-shadow: inset 0 0 5px #ccc;
    border-radius: 10px;
  }

  /* Handle */
  &-thumb {
    background: linear-gradient(rgba(0, 0, 0, .8), $wisteria);
    border-radius: 10px;

    /* Handle on hover */
    &:hover {
      background: linear-gradient($black, $wisteria);
    }
  }
}


