{% extends 'layout.njk' %}

{% block content %}
  <div class="list-page">
    <div class="d-flex align-items-center mb-4">
      <i class="image image-1 pokeborder pokeborder-radius-100 pokeborder-purple"></i>
      <h1>Pokemóns List</h1>
    </div>

    <div>
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th class="cat-table">Num</th>
            <th class="cat-table">Name</th>
            <th class="cat-table">Candy</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-list">
      <table class="table table-hover">
        <tbody>
          {% for item in items %}
            <tr class="item-list link-id" id="{{ item.id }}">
              <th>{{ item.num }}</th>
              <td>{{ item.name }}</td>
              <td>{{ item.candy }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}