// -------------------------
// Colors
// -------------------------
$wisteria: #c28cec;
$bunker: #21252c;


// -------------------------
// Import Fonts
// -------------------------
@import url(https://fonts.googleapis.com/css?family=Erica+One);

// -------------------------
// Fonts
// -------------------------
$font-erica-one: 'Erica One', cursive;